* 

	body{ 
		background-image: url("../images/musclebg.jpeg");
		background-repeat: "false";
		opacity: 1;
		color: gold;

	 }

#test {
		border: #666 1px solid;
		padding: 10px 40px 40px 40px;
		color: red;
		
		

}